.stage
{
    width:100%;
    margin: 0 auto;
  
   
}


.sphere
{
    width: 200px;
    height: 200px;
    display:inline-block;
    margin: 10px;
    border-radius: 50%;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    animation-name: spin;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sphere2
{
       width: 200px;
    height: 200px;
     display:inline-block;
   margin: 10px;
    border-radius: 50%;
    background-image: radial-gradient(circle at 50px 50px, rgb(0,255,0) 5%, rgb(0,140,0) 15%, rgb(0,50,0) 60%);
    animation-name: spin;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sphere3
{
       width: 200px;
    height: 200px;
    display:inline-block;
    margin: 20px;
    border-radius: 50%;
    background-image: radial-gradient(circle at 150px 50px, rgb(0,255,0) 5%, rgb(0,140,0) 15%, rgb(0,50,0) 60%);
    animation-name: spinCounterClockwise;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.sphere4
{
       width: 200px;
    height: 200px;
   display:inline-block;
   margin: 10px;
    border-radius: 50%;
    background-image: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet);
    animation-name: spinCounterClockwise;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes spin
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}

@keyframes spinCounterClockwise
{
    from
    {
        transform: rotate(360deg);
    }

    to
    {
        transform: rotate(0deg);
    }
}
