.container
{
    height:500px;
    width:400px;
    background-color:aliceblue;
    margin:0 auto;
}
.stack
{
    height:auto;
    width:300px;
    background-color:black;
     margin:0 auto;
    border:2px solid black;
}

.element
{
    height:15px;
    width:200px;
    background-color:lightblue;
    border:solid 1px black;
     margin:0 auto;
    text-align:center;
}
.pushBtn,.popBtn,.topBtn
{
    height:20px;
    width:50px;
    margin:0 auto;
    margin:5px;
}